<!-- Dashboard Section -->
<div class="dashboard-section">
        <!-- Plan View Section -->
        <p class="text-muted plan-text">Current Plan:  <span class="text-primary font-weight-bold">{{planTitle}}</span></p>
        <div class="container card d-flex align-items-center">                         
              <div class="row w-100 d-flex align-items-center">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <p class="text-center">Overall Progress </p>
                    <div class="progress--circle" [attr.progress]='" "+percentage+"%"'>
                        <div class="progress__number">{{percentage+"%"}}</div>                                         
                    </div>
                    <p class="text-center">39 of 229</p>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 ">
                <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="progress--circle" [attr.progress]='" "+percentage+"%"'>
                        <div class="progress__number">{{catPercentage+"%"}}</div>                                         
                    </div>
                    <p class="text-center m-0" >{{displayName}}</p>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 d-flex  justify-content-center">
                    <ul class="list-unstyled activities-blog m-0">
                        <li class="my-2" [ngClass]="{'active': selectedItem == item}" (click)="clickActivity(item);filterPercentageBasedOnCategory()" *ngFor = "let item of displayNameAll |  filterdata: 'displayName' : queryString">
                            <span  >{{item.DisplayName}}</span>
                        </li>
                       
                    </ul>
                </div>
                </div>
                </div>
                
              </div>           
                        
        </div>

                <div class="table-section-list">
                <div class="col-12">
        <!-- Table & Page Navigation Section -->
                <div class="table-pagenav-section my-2 row  px-2">
                <!-- Search Section -->
                <div class="table-search-section  col-3 col-md-3 d-flex align-items-center">
                <form class="d-flex align-items-center">
                <button type="submit" class="search-icon" ><i class="fa fa-search"></i></button>
                <input type="text" placeholder="Search.." name="search" class="search-bar w-100" [(ngModel)]="queryString" (ngModelChange)="searchString()">{{searchField}}                
                </form>
                </div>
                <!-- page navigation -->
                 <div class="page-navigation d-flex align-items-center justify-content-center col-md-5  p-0">
                        <nav aria-label="..." class="pagenation-section  w-100">
                                   <ul *ngIf="pager.pages && pager.pages.length" class="pagination m-0">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
                         </nav>
                </div>
                <!-- page content -->     
                <div class="page-content-show col-2 col-md-2 d-flex align-items-center justify-content-center">
                <div class="dropdown size-drop-down">Size: 
                        <select class="list-dp"   [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged($event)">
                       <option *ngFor="let opt of limitOptions" >{{opt.key}}</option>
                  </select>
                </div>
                </div>
                <!-- PDF & Excel Buttons -->
                <div class="col-1 common-button d-flex justify-content-end col-md-2 p-0">
                        <div class="">
                        <button class="pdf-btn red h-100" (click)="exportAsPDF()"><img src="./assets/images/pdf.png" alt="pdf-icon">
                        </button>
                        </div>
                        <div class="">
                        <button class="excel-btn green h-100" (click)="exportAsXLSX()"><img src="./assets/images/exel.png" alt="excel-icon">
                        </button>
                        </div>
                </div>
                </div>
                </div>
                <!-- Table section -->
<div>
    <div class="container">
        <div class="text-center ">

            <!-- items being paged -->
           <table id="example" class="table table-striped  nowrap" style="width:100%">
    <thead class="table-head">
      <tr>
        <th data-hide="tablet, phone">Student Name</th>
        <th data-hide="tablet, phone">Current Grade Level</th>
        <th data-hide="tablet, phone">Display Name</th>
        <th data-hide="phone">Activity Completed</th>
      </tr>
    </thead>
    <tfoot>
   <tr ></tr> 
        <tr class="sub-list" *ngFor="let item of pagedItems ">
        <th>{{item.FirstName + " " + item.MiddleName +" " + item.LastName}}</th>
        <th>{{item.CurrentGradeLevel}}</th>
        <th>{{item.DisplayName}}</th>
        <th>{{item.ActivityCompleted}}</th>
        </tr>     
    </tfoot>
    </table>

            <!-- pager -->
         
        </div>
    </div>
    </div>
</div>

